<h1>Listing All Todos</h1>
<p>
  <%= link_to "Create a todo", new_todo_path%>
</p>
<table>
<tr>
  <th>Name</th>
  <th>Description</th>
</tr>
  <%@todos.each do |f| %>
  <tr>
    <td><%= f.name %></td>
    <td><%= f.description %></td>
    <td><%= link_to "Edit todo", edit_todo_path(f)%></td>
    <td><%= link_to "Show todo", todo_path(f)%></td>

  </tr>

  <%end%>
</table>
